@charset "UTF-8";
/*모바일 CSS*/
/*기본*/
.container{
	margin: auto;
	width:1132px;
	height: 1024px;
	border:1px solid lightgray;
	background: white;
}
.content-container{
	min-height: 400px;
}
.cfixed:after{
	display:block;
	content:"";
	clear:both;
}
.divider{
	width:100%;
	margin-bottom:40px;
	border:2px solid gray;
}
.m-divider{
	width:100px;
	margin: 50px auto;
	border-bottom: 1px solid #036;
	border-image: linear-gradient(to right,white, gray,white);
	border-image-slice: 1;
}
}
