<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	<!-- JS 및 CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tip.css') }}">
</head>
<body>
	<div class="wrap">
		<header class="header cfixed">
			<div class="container">
				<h1 class="logo"><a href="#">지능형 인재추천 서비스</a></h1>
				<nav>
					<ul class="gnb">
						<li><a href="#">홈</a></li>
						<li><a href="#">로그인</a></li>
						<li><a href="#">매뉴얼</a></li>
						<li><a href="#">마이메뉴</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section class="content">
			<div class="container content-container">
				<section class="board-section">
					<h2 class="sec-tit">전문분야별 유사도 검색</h2>
					<div class="content-row-1">
						<form role="search" method = "POST">
							<table class="search-table">
								<tr>
									<td><strong>성별</strong></td>
									<td>
										<div class="sex-div">
											<input type="radio" name="sex" id="male-radio" checked>
											<label for="male-radio">남자</label>
											<input type="radio" name="sex" id="female-radio">
											<label for="female-radio">여자</label>
										</div>
									</td>
									<td><strong>연령</strong></td>
									<td>
										<div class="age-div">
											<input type="text" maxlength="2" id="age-from"> ~
											<input type="text" maxlength="2" id="age-to">
										</div>
									</td>
								</tr>
								<tr>
									<td><strong>전문분야</strong></td>
									<td colspan="3"><input type="text" id="category-input" class="category-input" onkeypress="return checkCount(this, event);"></td>
								</tr>
								<tr>
									<td><strong>키워드</strong></td>
									<td colspan="3"><input type="text" id="keyword-input" class="keyword-input" onkeypress="return checkSpace(event);"></td>
								</tr>
							</table>
							<div class="btn-div">
								<input type="submit" id="btn" class="btn" value="검색">
							</div>
						</form>
					</div>
					{% block content%}{% endblock %}
				</section>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
